@import url('reset.css');
@import url('theme.css');

h1{
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 1em;
}

.wrapper{
    font-size: 2em;
    height: 100%;
    width: 100%;
    padding: 5%;
    min-height: calc(100vh - 50px);
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.wrapper > *{
    width: 80%;
}